Redirect 301 / http://library.uta.edu/scholcomm/
Redirect 301 /search/node http://library.uta.edu/search
Redirect 301 /contact http://library.uta.edu/scholcomm/contact
Redirect 301 /services/public-access-mandates-sponsored-research http://libguides.uta.edu/datamanagement/plans
Redirect 301 /public-access-mandates-sponsored-research/funder-mandates http://libguides.uta.edu/datamanagement/plans
Redirect 301 /public-access-mandates-sponsored-research/mandated-repository http://libguides.uta.edu/datamanagement/plans
Redirect 301 /electronic-theses-and-dissertations http://library.uta.edu/etd
Redirect 301 /do-you-want-be-publisher http://libguides.uta.edu/OJS
Redirect 301 /more/types-open-access http://library.uta.edu/scholcomm/open-access-publishing
Redirect 301 /open-journal-systems http://libguides.uta.edu/OJS
Redirect 301 /online-journal-system http://libguides.uta.edu/OJS